//************************************************
//			= browser
//************************************************

// PC
//======================================
support-ie9    ?= false
support-ie10   ?= false
support-ie11   ?= true
support-edge   ?= true
support-moz    ?= true
support-webkit ?= true
support-opera  ?= true

// SP
//======================================
support-ios9     ?= false
support-ios10    ?= true
support-ios11    ?= true
support-android4 ?= false
support-android5 ?= true
support-android6 ?= true
support-android7 ?= true
support-android8 ?= true

//************************************************
//			= variable
//************************************************

// breakpoint
//======================================
breakpoint_s =  768px
breakpoint_m =  992px
breakpoint_l = 1200px

// width
//======================================
w_contents = 950px
w_main     = 690px
w_sub      = 240px

// path
//======================================
p_i_cmn   = "/cmn/img"
p_i_home  = "/cmn/home"
p_i_other = "/cmn/other"

// color
//======================================
c_base   = #fff
c_main   = #fcc
c_accent = #f00
